
$cos_bp: 1512px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --white: #FFFFFF;
  --black: #0A0A0A;
  --blue: #B0E3FC;
  --grey: #2B363A;
  --yellow: #DEFABD;
  --r: 3rem; /* control the inner radius */
  --b: 30%;
}



