<footer class="footer container-3">
  <div class="footer-left">
    <a href="#" class="footer-logo first-opacity">
      Инвиз <span class="footer-name">VPN</span>
    </a>
    <nav class="footer-nav">
      <ul>
        <li><a href="#about" data-scroll="#about" class="footer-link">О продукте</a></li>
        <li><a href="#prefs" data-scroll="#prefs" class="footer-link">Преимущества</a></li>
        <li><a href="#tarifs" data-scroll="#tarifs" class="footer-link">Тарифы</a></li>
      </ul>
    </nav>
  </div>

  <ul class="footer-telegrams">
    <li class="footer-telegram">
      <div class="telegram-img img-contain"><img src="./assets/images/prop/3.png" alt="telegram"></div>
      <div class="telegram-top">Телеграм бот:</div>
      <a href="t.me/inviz_vpn_bot" class="telegram-link">t.me/inviz_vpn_bot</a>
    </li>
    <li class="footer-telegram">
      <div class="telegram-img img-contain"><img src="./assets/images/prop/3.png" alt="telegram"></div>
      <div class="telegram-top">Телеграм канал:</div>
      <a href="t.me/inviz_vpn" class="telegram-link">t.me/inviz_vpn</a>
    </li>
  </ul>
  <div class="footer-info">© 2023 Инвиз VPN</div>
</footer>