<header class="header container">

  <div class="header-left container-2">
    <a href="#" class="header-logo">
      Инвиз <span class="header-name">VPN</span>
    </a>
  </div>

  {{> menu}}

  <div class="header-right container-2">
    <a href="#" class="btn header-btn">начать бесплатно</a>
  </div>

  <button class="menu-button myclass">
    <span class="burger-button-close">
      <span id="first-line-burger"></span>
      <span id="second-line-burger"></span>
      <span id="third-line-burger"></span>
  </span>
  </button>
</header>