<header class="header container">

  <div class="header-left container-2">
    <a href="#main" data-scroll="#main" class="header-logo first-opacity">
      Инвиз <span class="header-name">VPN</span>
    </a>
  </div>

  {{> menu}}

  <div class="header-right container-2">
    <a href="#" class="btn header-btn first-opacity">начать бесплатно</a>
  </div>

  <div class="menu-button-wrapper">
    <button class="menu-button" aria-label="open menu">
      <span class="burger-button-close">
        <span id="first-line-burger"></span>
        <span id="second-line-burger"></span>
        <span id="third-line-burger"></span>
    </span>
    </button>
  </div>
</header>